:root {
  --black: rgb(51, 51, 51);
  --black-with-opacity: rgba(51, 51, 51, 0.35);
  --plum: rgb(115, 2, 77);
  --purple: rgb(99, 63, 152);
  --white: rgb(249, 246, 237);
  --white-with-opacity: rgb(249, 246, 237, 0.75);
  --yellow: rgb(234, 190, 29);
}
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(var(--purple), var(--plum));
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: var(--white);
  font-size: clamp(40px, 5vw, 95px);
  text-align: center;
}

h2 {
  color: var(--white-with-opacity);
  font-size: clamp(18px, 3vw, 30px);
  text-align: center;
}

object {
  width: 100%;
}

.page {
  background: var(--black-with-opacity);
  background-attachment: scroll;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: clamp(320px, 90vw, 1200px);
}

.homepage-paragraph {
  color: var(--white);
  font-size: clamp(20px, 3vw, 40px);
  width: 75vw;
  text-align: start;
}

.homepage-pic {
  box-shadow: 0px 20px 37px -28px var(--black);
  width: clamp(75px, 15vw, 150px);
}

.page-launch-btn {
  background-color: var(--white);
  border: 1px solid var(--plum);
  color: var(--plum);
  font-weight: bold;
}

.page-launch-btn:hover {
  background-color: var(--plum);
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: bold;
}

.project-launch-btn {
  background: var(--plum);
  border: 1px solid var(--plum);
  color: var(--white);
}

.project-launch-btn:hover {
  background: var(--white);
  border: 1px solid var(--plum);
  color: var(--plum);
  font-weight: bold;
}

.about-paragraph {
  color: var(--white-with-opacity);
  font-size: clamp(20px, 3vw, 25px);
  text-align: left;
  text-indent: 5%;
}

.resume {
  width: 100%;
}
.resume-paragraph {
  color: var(--white-with-opacity);
  font-size: clamp(20px, 3vw, 25px);
}

.contact-paragraph {
  color: var(--white-with-opacity);
  font-size: clamp(20px, 3vw, 25px);
  text-align: left;
}

.submit-btn {
  background-color: var(--white);
  border: 1px solid var(--plum);
  color: var(--plum);
  font-weight: bold;
}

.submit-btn:hover {
  background-color: var(--plum);
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: bold;
}

@media (max-width: 992px) {
  .large-screen-h2 {
    display: none;
  }
}

@media (min-width: 992px) {
  .small-screen-h2 {
    display: none;
  }
  .large-screen-homeheading {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .homepage-h1 {
    text-align: right;
  }
  .large-screen-h2 {
    padding: 20px;
  }
  .homepage-paragraph {
    width: 75vw;
    margin: 20px;
    padding: 10px;
  }
}
